<p>
 {{ title }}
</p>

<img [ngStyle] = "{
      'height': '350px',
      'border': '5px solid',
      'borderColor' : themeBlue ? 'blue' : 'black'
    }" [src] = "coursesImage" />

<button (click)="onAdd()">Add Course</button>
<button (click)="loadCourses()">Load Courses</button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse" [ngClass] = "{
    'disabledItemClass' : isOUtOfStock
  }">{{ course?.courseName }} - {{ course?.faculty?.name }}
    <button (click)="onRemove(course)">Remove</button>
  </li>
</ul>
<div (click)='onDivClicked()'>
  <button (click) = "onSave($event)">Save</button>
</div>

<input [(ngModel)] = "parentCourseCoupon" />

<table border = 1>
    <tr>
      <td [attr.colspan]="colspanvar">Two Columns</td>
    </tr>
    <tr>
      <td colspan="1">One</td>
      <td colspan="1">Col</td>
    </tr>
  </table>
<app-signup-form [couponCode]="parentCourseCoupon" (wasCouponUsed)= "couponUsage($event)"></app-signup-form>
