<p>
 {{ title }}
</p>

<img [hidden] = 'isLoggedIn' [src] = "coursesImage" />


<ul>
  <li *ngFor="let course of courses">{{ course.courseName }}</li>
</ul>
<div (click)='onDivClicked()'>
  <button (click) = "onSave($event)">Save</button>
</div>

<input [(ngModel)] = "parentCourseCoupon" />

<table border = 1>
    <tr>
      <td [attr.colspan]="colspanvar">Two Columns</td>
    </tr>
    <tr>
      <td colspan="1">One</td>
      <td colspan="1">Col</td>
    </tr>
  </table>
<app-signup-form [couponCode]="parentCourseCoupon" (wasCouponUsed)= "couponUsage($event)"></app-signup-form>
