<!--The content below is only a placeholder and can be replaced.-->
<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'" ><a (click) = "viewMode = 'map'">Reactive Form</a></li>
  <li [class.active]="viewMode == 'list'"><a (click) = "viewMode = 'list'">Template Driven Form</a></li>
</ul>
<div [ngSwitch] = "viewMode">
  <div *ngSwitchCase="'map'">
      <app-courses></app-courses>
  </div>
  <div *ngSwitchCase= "'list'">
      <app-contact-form></app-contact-form>
  </div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<!-- <app-header></app-header>
-->
