<div>
  {{product.name | uppercase}} <br/>
  {{product.numberOfOrders | number}} <br/>
  {{product.rating | number:'1.1-1'}} <br/>
  {{product.price | currency:'INR':true:'1.2-2'}} <br/>
  {{product.launchDate | date:'shortDate'}} <br/>
</div>
<button (click) = 'passData()'> Change state</button>
<app-favorite [childUserInfo] = 'parentStateCHange'
(childVerified) = 'parentDataFromChild($event)'></app-favorite>
<div *ngIf = 'verifiedStatus; else unverified'>
  <i class="glyphicon glyphicon-ok" ></i>
</div>
<ng-template #unverified>
  <i  class="glyphicon glyphicon-off"></i>
</ng-template>
