<div>
  {{product.name | uppercase}} <br/>
  {{product.numberOfOrders | number}} <br/>
  {{product.rating | number:'1.1-1'}} <br/>
  {{product.price | currency:'INR':true:'1.2-2'}} <br/>
  {{product.launchDate | date:'shortDate'}} <br/>
</div>
<button (click) = 'passData()'> Change state</button>
<app-favorite [childUserInfo] = 'parentStateCHange' (childVerified) = 'parentDataFromChild($event)'></app-favorite>

<i class="glyphicon glyphicon-ok" *ngIf = 'verifiedStatus'></i>

<!-- Input parameter used for passing data from parent to child -->